ion-content {
    --background:#001b35;
    --color: #001b35;
    --padding-top: 20px;
}

ion-item{
    font-size: 20px;
    color: white;
    --background: #001b35;

    ion-icon{
        color: var(--ion-color-light);
    }

    &.active{
        color: var(--ion-color-warning); 

        ion-icon {
            color: var(--ion-color-warning); 
        }
    }
}

ion-menu{
    --width:250px;
    --min-width:250px;
    outline: none;
}

h4{
    color: white;
    margin-top: 5px;
    font-weight: bold;
}

.avatar-icon{
    font-size: 100px;
}

ion-avatar{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.empty-icon{
    font-size: 100px;
}